body {
    background-image: url(Image/Falmer.jpg);
    color:rgb(15, 243, 243);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}