.icons {
    text-align: center;
}
.fa-solid.fa-house.fa-5x{
    color: rgb(23, 219, 33);
}
.fa-solid.fa-house.fa-5x:hover{
    color: rgb(25, 233, 36);
}
.fa-brands.fa-square-x-twitter.fa-5x {
    color: rgb(27, 14, 204);
}
.fa-brands.fa-square-x-twitter.fa-5x:hover {
    color: rgb(42, 29, 228);
}
.fa-brands.fa-youtube.fa-5x {
    color: red;
}
.fa-brands.fa-youtube.fa-5x:hover {
    color: rgb(255, 49, 49);
}
.fa-brands.fa-github.fa-5x {
    color: rgb(15, 180, 221);
}
.fa-brands.fa-github.fa-5x:hover {
    color: rgb(34, 205, 248);
}
.icons a {
    text-decoration: none;
    margin-right: 20px;
}