body {
    background-color: grey;
}

h1 {
    text-shadow: 3px 3px 5px red , -3px -3px 5px aqua;
}

#box1 {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    box-shadow: 6px 6px 5px ;
}

p{
    text-shadow: 3px 3px 5px red , -3px -3px 5px aqua;
    font-weight: bold;
    font-style: italic;
}